<html data-page="{{pageType}}" {{#if pageUser}}data-user="{{pageUser}}"{{/if}} {{#if pagePackage}}data-package="{{pagePackage}}"{{/if}}>
<head>
  <title>{{#if title}}{{title}} | {{/if}}npm graph</title>

  <meta name="description" content="View npm downloads graph for {{package.name}}">

  {{#if og}}
  <meta property="og:title" content="{{package.name}} downloads graph" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://npmgraph.bensbit.co.uk/package/{{package.name}}" />
  <meta property="og:description" content="View npm downloads for {{package.name}}" />
  <meta property="og:locale" content="en_GB" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:site_name" content="npm graph" />
  {{/if}}

  <meta property="fb:admins" content="1089532097"/>

  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
  <script type="text/javascript">
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
    window.analytics.load("43valt2lxa");
    window.analytics.page();
  </script>
  <a href="https://github.com/bencevans/npmgraph"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  {{#if noContainer}}
  {{else}}
  <div class="container">
    {{/if}}
    <div class="loader"></div>
    {{{body}}}
    {{#if noContainer}}
    {{else}}
  </div>
  {{/if}}
  <script type="text/javascript" src="/bundle.js"></script>
</body>
</html>