<html>
<head>
  <title>{{package.name}} | npm graph</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <meta name="description" content="View npm downloads graph for {{package.name}}">

  <meta property="og:title" content="{{package.name}} downloads graph" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://npmgraph.bensbit.co.uk" />
  <meta property="og:description" content="View npm downloads for {{package.name}}" />
  <meta property="og:locale" content="en_GB" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:site_name" content="npm graph" />
  <meta property="fb:admins" content="1089532097"/>

  <style type="text/css">
  body {
    background-color: #A7342F;
    font-family: Verdana;
    color: #222;
  }

  .container {
    background-color: #FFF;
    width: 720px;
    margin: auto;
    padding: 10px;
  }

  h2 {
    display: inline;
  }

  .graph-container {
    background-color: #111;
    margin-top: 10px;
    box-shadow: 0 0 4px #111;
  }

  svg {
    height: 150px;
    padding: 5px 5px 0px 5px;
  }

  svg rect {
    fill:#ccc;
  }
  </style>
</head>
<body>
  <div class="container">
    <h2>{{package.name}}</h2> <a href="https://npmjs.org/package/{{package.name}}">view on npm</a>
    <div class="graph-container">
      <svg/>
    </div>
  </div>
  <script type="text/javascript">

  var NS = "http://www.w3.org/2000/svg";
  function chart(svgDOM, data) {
    var width = 710;
    var height = 150;
    var barGutter = 1;
    var barWidth = width / data.length
    var max = null;
    for(var i in data) {
      if(max == null || max < data[i].downloads)
        max = data[i].downloads;
    }
    for(var i in data) {
      var SVGObj=document.createElementNS(NS,"rect");
      SVGObj.setAttribute("height", ((data[i].downloads == 0) ? 0 : Math.round((data[i].downloads/max) * height)));
      SVGObj.setAttribute("width", barWidth - barGutter);
      SVGObj.setAttribute("y", height - ((data[i].downloads == 0) ? 0 : Math.round((data[i].downloads/max) * height)));
      SVGObj.setAttribute("x", i * barWidth);
      var title = document.createElementNS(NS, "title");
      title.textContent = data[i].date + ': ' + data[i].downloads;
      SVGObj.appendChild(title);
      svgDOM.appendChild(SVGObj);
    }
  };

  $.getJSON('/package/{{package.name}}/30days.json', function(data) {
    chart(document.querySelector('svg'), data);
  });

  </script>
  <script type="text/javascript" src="/js/analytics.min.js"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics' : 'UA-29362333-3',
    'Gauges'         : '513c9626f5a1f5230d000092'
  });
  </script>
</body>
</html>