<h1 class="title">npm graph</h1>
<form id="form">
  <input class="search-container search-input" id="urlplacer" type="text" placeholder="Enter the URL of your npm module/user. e.g https://npmjs.org/package/mongomate"/>
  <input class="search-input search-submit" id="submit" type="submit" value="(Then Press Enter)">
</form>
<div class="greatscontainer">
  <p>Or check out some of the greats...</p>
  <h3>users</h3>
  <ul>
    <li><a href="/~tjholowaychuk">tjholowaychuk</a></li>
    <li><a href="/~dominictarr">dominictarr</a></li>
    <li><a href="/~substack">substack</a></li>
    <li><a href="/~isaacs">isaacs</a></li>
    <li><a href="/~mikeal">mikeal</a></li>
  </ul>
  <h3>packages</h3>
  <ul>
    <li><a href="/package/underscore">underscore</a></li>
    <li><a href="/package/async">async</a></li>
    <li><a href="/package/request">request</a></li>
    <li><a href="/package/express">express</a></li>
  </ul>

</div>