body {
  background-color: #A7342F;
  font: 14px Lucida Grande, sans-serif;
  color: #222;
}

.container {
  background-color: #FFF;
  width: 720px;
  margin: auto;
  padding: 10px;
  position: relative;
}

h2 {
  display: inline;
}

.graph-container {
  background-color: #111;
  margin-top: 10px;
  box-shadow: 0 0 4px #111;
}

svg {
  height: 150px;
  padding: 5px 5px 0px 5px;
}

svg rect {
  fill:#ccc;
}

table {
  width: 100%;
}

td, th {
  padding: 5px;
  text-align: left;
  margin: 0;
}

tr:nth-of-type(even) {
  background-color: #eee;
}
tr:hover {
  background-color: #ddd;
}

.loader {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  border: 4px solid #aaa;
  border-radius: 20px;
  transform: rotate(45deg);
  display:none;
  -moz-animation:move 2s infinite;
  -webkit-animation:move 1s infinite;
}

@-webkit-keyframes move /* Safari and Chrome */
{
  0%   {
    border-top-color: #eee;
  }
  25%   {
    border-right-color: #eee;
  }
  50% {
    border-bottom-color: #eee;
  }
  75% {
    border-left-color: #eee;
  }
}


.title {
  color: #fff;
  text-align: center;
  font-size: 80px;
  margin-top: 60px;
}

.search-container {
  background-color: #fff;
  width: 500px;
  padding: 10px;
  margin:auto;
}

.search-input {
  display: block;
  padding: 5px;
  border: 1px solid black;
}

.search-submit {
  border: 0;
  background: none;
  margin: 10px auto;
  color: #fff;
}

.greatscontainer {
  text-align: center;
  color: #ccc;
}

.greatscontainer ul {
  padding: 0;
}

.greatscontainer a {
  color: #ddd;
}